body {
    background-image: url(4i4a4hin.github.io/frame.png);
    background-position: center center;
background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.InDown {
position: relative;
    margin: auto;
    -webkit-animation: mymove 2s; /* Safari 4.0 - 8.0 */
    animation: mymove 2s;
animation-timing-function: ease-in;
    transition-timing-function: cubic-bezier(.04,1.26,.87,-0.82);
    -webkit-animation-fill-mode: forwards;
    width: 18%;
    border: 3px solid #73AD21;
}
@keyframes mymove {
    from {top: 0px;}
    to {top: 180px;}
}
