/*.d1, .d2, .d3, .d4 {
  width: 9vw;
  height: 9wh;
  padding-top:18%;
padding-left: 100px;
}
.d1, .d2, .d3, .d4 {
    float:left;
}
.d3 {
    padding-left: 445px;
}*/
.d1 img, .d2 img, .d3 img, .d4 img {
max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position:relative;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.d1, .d2, .d3, .d4 {
  width: 9vw;
  height: 9wh;
}
.d1 {
    position:fixed;
    top:42%;
    left:9%;
}
.d2 { 
  position:fixed;
    top:42%;
    left:21%;    
}
.d3 {
   position:fixed;
    top:42%;
    left:33%;    
}
.d4 {
  position:fixed;
    top:42%;
    left:45%;   
}
.frame {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(4i4a4hin.github.io/frame.png);
    background-position: center center;
background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
img{  
    max-height: 46%;  
    max-width: 46%; 
    width: auto;
    height: auto;
    position:fixed;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
 -webkit-animation: mymove 1s; /* Safari 4.0 - 8.0 */
    animation: mymove 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes mymove {
   from {opacity: 0;}
    to {opacity: 1;}
}
}

