.body {
    height: 500px;
    background-image: url(4i4a4hin.github.io/frame.png);
    background-position: center center;
background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* .InDown img {
    position: relative;
    display: block;
    margin:auto;
     -webkit-animation: mymove 1s; /* Safari 4.0 - 8.0 */
    animation: mymove 1s;
animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
}*/
.InDown {
    z-index: -3;
height: 500px;
    -webkit-animation: mymove 1s; /* Safari 4.0 - 8.0 */
    animation: mymove 1s;
animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    background-image: url(4i4a4hin.github.io/4i4a png1.png);
     background-position: center center;
background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
@keyframes mymove {
    from {top: -4%; z-index: -99999; opacity: 0; display: none;}
    to {z-index: 1; opacity: 1;}
}
