.body {
    width: 100vw;
    height: 100vh;
    background-image: url(4i4a4hin.github.io/frame.png);
    background-position: center center;
background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.InDown img {
    position: relative;
    display: block;
    margin:auto;
     -webkit-animation: mymove 1s; /* Safari 4.0 - 8.0 */
    animation: mymove 1s;
animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
}
.InDown {
    width: 99vw;
    z-index: -3;
position: relative;
height: auto;
}
@keyframes mymove {
    from {top: -6%; z-index: -99999; opacity: 0; display: none;}
    to {top: 32%; z-index: 1; opacity: 1;}
}
