body {
    background-image: url(4i4a4hin.github.io/frame.png);
    background-position: center center;
background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
}
.cover {
    position: fixed;
    margin: auto;
    width: 18%;
    height: 100px;
    color:white;
}
.InDown {
position: relative;
    margin: auto;
    -webkit-animation: mymove 1s; /* Safari 4.0 - 8.0 */
    animation: mymove 1s;
animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    width: 18%;
    z-index: 3;
}
@keyframes mymove {
    from {top: -20px;}
    to {top: 200px;}
}
