.d1, .d2, .d3, .d4 {
    float:left;
}
.d3 {
    padding-left: 445px;
}*/
.scroll img {
    width: 46%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}
div.scroll {
    position: absolute;
    bottom: 0;
    right: 15%;
}
div.gallery1, div.gallery2, div.gallery3, div.gallery4 {
  position: absolute;
}
.d1 img, .d2 img, .d3 img, .d4 img {
max-height: 26%;  
    max-width: 26%; 
    width: auto;
    height: auto;
    position:relative;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
  box-shadow: 7px 7px;
}
.d1, .d2, .d3, .d4 {
  width: 35vw;
  height: 35wh;
}
.d1 {
    position:fixed;
    top:42%;
    left:9%;
}
.d2 { 
  position:fixed;
    top:42%;
    left:24%;    
}
.d3 {
   position:fixed;
    top:42%;
    left:67%;    
}
.d4 {
  position:fixed;
    top:42%;
    left:82%;   
}
.frame {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(4i4a4hin.github.io/frame.png);
    background-position: center center;
background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.ch{  
    max-height: 46%;  
    max-width: 46%; 
    width: auto;
    height: auto;
    position:fixed;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
 -webkit-animation: mymove 1s; /* Safari 4.0 - 8.0 */
    animation: mymove 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes mymove {
   from {opacity: 0;}
    to {opacity: 1;}
}
}

