body {
    background-image: url(4i4a4hin.github.io/frame.png);
    background-position: center center;
background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.InDown {
position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
animation-timing-function: ease-in;
}
@keyframes mymove {
    from {bottom: 0px;}
    to {bottom: 300px;}
}
